<h1>Apply to Attend Convocation</h1>

<p>Once an RSVP selection is successfully registered in the system, the option you selected will be greyed out. You can change your RSVP status by clicking on the other option in blue. You mat changes your RSVP status as many times as needed before the application closes three weeks proir to the event</p>

<table class="program-table">
    <tr>
      <th>Program</th>
      <th>Graduation Eligibility</th>
      <th>Convocation</th>
      <th>I will attend</th>
      <th>I will not attend</th>
    </tr>
    <tr *ngFor="let program of programs">
        <td>{{program.name}}</td>
        <td *ngIf="program.eligibility">You are eligible to attend Convocation</td>
        <td>{{program.date}}</td>
        <td><button>I will attend</button></td>
        <td><button>I will not attend</button></td>
    </tr>
</table>
