<div class="student-form">
  <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" [selectedIndex]="selectedIndex">
    <mat-tab label="1. Info" disabled="true"><app-info></app-info></mat-tab>
    <mat-tab label="2. Name" disabled="true"><app-name></app-name></mat-tab>
    <mat-tab label="3. Address" disabled="true"><app-address></app-address></mat-tab>
    <mat-tab label="4. Email" disabled="true"><app-email></app-email></mat-tab>
    <mat-tab label="5. Program/s" disabled="true"><app-programs></app-programs></mat-tab>
  </mat-tab-group>


  <div mat-dialog-actions align="end" id="confirmButtonDiv">
    <button id="confirmButton" mat-raised-button color="primary" (click)="prev()" >
      Back
    </button>

    <button id="confirmButton" mat-raised-button color="primary" (click)="next()" >
      Next
    </button>
  </div>
</div>


<router-outlet></router-outlet>
